
/*nav*/
.navbar {
   display: none;
}
.navbar.show {
   display: flex;
   position: fixed;
   top: 0;
   right: 0;
   flex-direction: column;
   align-items: flex-end;
   width: 100%;
   z-index: 99; 
}
.navbar ul {
   list-style: none;
   padding: 0;
   margin: 0;
   background-color: black;
}

.navbar li {
   display: flex;
   margin-right: 5rem;
   margin-left: 1rem;
   
}

.navbar a {
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: large;
   font-family:Arial, Helvetica, 'sans-s';
}

.menu-toggle {
   display: flex;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 100;
   font-family:Arial, Helvetica, 'sans-s';
   font-size: 40px;
   color: rgb(51, 50, 50);
   text-shadow: 0rem -0.1rem 0.2rem white;
   cursor: pointer; 
   margin-right: 1rem;
   justify-content: center;
   -webkit-appearance: none;
   appearance: none;
}


#indexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 100vh;
 }
 #indexcontainer li {
    padding: 0.5rem;
    list-style-type: none;
 }
 #secondcontainer a {
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, 'sans-s';
    font-size: large;
    background-color: black;
    border-radius: 1rem;
    padding: 0.3rem;
 }
 #secondcontainer a:hover{
    color: red;
 }

 #secondcontainer ul{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
}
footer {
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
}
footer p {
   font-family:'Times New Roman', Times, serif;
   font-size: x-large;
   color: red;
   margin: 1rem;
}
 nav {
    display: flex;
    text-align: center;
 }
 nav ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
 }
 #ibg {
    background-image: url(pictures/machine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
 }
 h1, h2 {
    display: flex;
    justify-content: center;
    color: red;
    font-family: 'Yellowtail', 'cursive';
    font-size: x-large;
    text-shadow: 0rem 0.4rem 1rem black;
    font-weight: 300;
    }

    @media only screen and (max-width: 600px) {
       
        #indexhead h1, h2 {
           font-size: xx-large;
         }
         #secondcontainer a {
           font-size: x-large;
         }
         .nav a {
            padding: 0.6rem;
            font-size: x-large;
           }
     
     }
     @media only screen and (min-width: 601px) {
        * {
           font-size: medium;
        }
        #indexhead h1, h2 {
           font-size: xx-large;
         }
         #secondcontainer a {
           font-size: large;
         }
         .nav a {
            padding: 1rem;
           }
       
     }
     @media only screen and (min-width: 768px) {
        * {
            font-size: large;
        }
    #indexhead h1, h2{
           font-size: xxx-large;
         }
         #secondcontainer a {
           font-size: xx-large;
         }
      footer p{
      font-size: xx-large;      } 
     }
     @media only screen and (min-width: 992px) {
      * {
        font-size: large;
      } 
      #indexhead h1, h2{
        font-size: xx-large;
      }
      #secondcontainer a {
        font-size: x-large;
      }
     }
     @media only screen and (min-width: 1200px) {
        * {
            font-size: x-large;
        }
       
        #indexhead h1, h2 {
           font-size: xxx-large;
         }
         #secondcontainer a {
           font-size: xx-large;
         }
        #secondcontainer ul{
         flex-direction: row;
        }
        footer p {
         font-size: xx-large;
        }
     }