/* Typography System


    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    */



:root {
    --grey:  rgb(228, 228, 224);
    --red: rgb(246, 5, 5);
    --white: rgb(255, 246, 246);
    --black: #000;
    --navbar-height: 0px;
    --lightgray: rgba(225, 223, 223, 0.16);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   font-size: 24px;
}


html {
   scroll-behavior: smooth;
}

h1 {
   display: flex;
   justify-content: center;
   background-color: var(--black);
   color: var(--red);
   font-family: 'Yellowtail', 'cursive';
   font-size: 30px;
   font-weight: lighter;
   position: sticky;
   padding: 1rem;
   }
   
/* --------------------------------------------------------------------------------------------------- */

/* Cookies style */
.cookie-popup {
   display: none; 
   position: fixed;
   bottom: 20px;
   left: 0;
   right: 0;
   background-color: #333;
   color: white;
   padding: 15px;
   text-align: center;
   z-index: 9999;
 }
 
 .cookie-popup .popup-content {
   max-width: 600px;
   margin: 0 auto;
 }
 
 .cookie-popup button {
   background-color: var(--black);
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   margin-top: 10px;
 }
 
 .cookie-popup button:hover {
   color: var(--red);
 }

 .popup-content a {
   text-decoration: none;
   color: var(--red);
 }
 
 .popup-content a:hover {
   text-decoration: underline;
 }
/* ----------------------------------------------------------------------------------------- */



/* Side menu style */
.side-menu {
   position: fixed;
   top: 15%;
   right: 0;
   z-index: 200;
   
}

/* menu button*/
.menu-button {
   background-color: rgba(73, 69, 69, 0.196);
   color: var(--red);
   border: none;
   padding: 0.5rem 1rem;
   font-size: 18px;
   cursor: pointer;
}

/* submenu hidden*/
.submenu {
   max-height: 80vh; 
   overflow-y: auto;
   position: absolute;
   top: 0;
   right: 100%; 
   background-color: var(--black);
   display: none;
   flex-direction: column;
   min-width: 150px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


.submenu a {
   color: white;
   padding: 0.5rem;
   text-decoration: none;
   display: block;
}


.side-menu:hover .submenu {
   display: flex;
}

/* ----------------------------------------------------------------------- */
/* FOOTER */

.phone-icon {
   height: 1.5rem;
   width: 1.5rem;
}

.footer-container {
   margin: 4rem auto;
   max-width: 1200px;
   width: min(90%, 1200px);
}

.footer-icons {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
}

.footer-icons p, address, a {
   font-size: 24px;
   text-align: center;
   line-height: 1.4;
}

.mail:link {
   text-decoration: none;
   color: black;
}

.mail:hover {
   font-weight: 500;
   text-decoration: underline;
}

.copyright {
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   text-align: center;
   line-height: 1.4;
}

.copyright p {
   font-size: 24px;
}
/* -------------------------------------------------------------------------------------------- */

/*NAV*/

.navbar {
   display: none;
}
.navbar.show {
   display: flex;
   position: fixed;
   top: 0;
   right: 0;
   flex-direction: column;
   align-items: flex-end;
   width: 100%;
   z-index: 90; 
   height: var(--navbar-height);
}

.navbar ul {
   list-style: none;
   padding: 10px;
   margin: 0;
   background-color: var(--black);
}

.navbar li {
   display: flex;
   margin-right: 5rem;
   margin-left: 1rem;
}

.navbar a {
   color: var(--white);
   text-align: center;
   padding: 0.5rem 0.3rem;
   text-decoration: none;
}

.menu-toggle {
   display: flex;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 100;
   font-size: 44px;
   color: rgb(51, 50, 50);
   text-shadow: 0rem -0.1rem 0.2rem var(--white);
   cursor: pointer; 
   margin-right: 0.5rem;
   justify-content: center;
   -webkit-appearance: none;
   appearance: none;
}

main {
   padding-top: var(--navbar-height);
}

/* ---------------------------------------------------------------------------------------- */
/* HOME (index.html) */

.heroIndex {
   min-height: calc(100vh - 60px);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   text-align: center;
   background-image: linear-gradient(rgba(41, 40, 40, 0.248), rgba(19, 19, 19, 0.6)), url('/pictures/salon_pictures/tatto_salon.webp');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: top;
   color: var(--white);
   background-color: #000;
   padding: 2rem;

}

.index-box {
   min-height: 50vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.index-box p {
   font-size: 36px;
   text-shadow: 0 2px 3px var(--black);
   font-weight: 700;
   width: fit-content;
   line-height: 1.5;
}

.index-box blockquote {
   font-size: 30px;
   font-weight: 500;
   font-style: italic;
}

/* ---------------------------------------------------------------------------------------- */

/*ABOUT US*/


.heroAbout {
   min-height: calc(100vh - 60px);
   display: flex;
   justify-content: center;
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url('/pictures/salon_pictures/salon_inside.webp');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   color: var(--white);
   background-color: var(--black);
   padding: 5% 0;
}

.hero-content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
   text-align: center;
   justify-content: space-evenly;
}

.hero-content h2{
   font-size: 30px;
   text-shadow: 0 2px 3px var(--black);
   line-height: 1.5;
}
.hero-content p {
   font-weight: 700;
   line-height: 1.5;
   text-shadow: 0 2px 3px var(--black);
}

.cta-button {
   font-size: large;
   text-decoration: none;
   color: var(--red);
   border: solid 1px var(--black);
   background-color: var(--black);
   border-radius: 2rem;
   padding: 0.5rem;
}

.about-pagemenu {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.contact-button {
   text-decoration: none;
   color: var(--red);
   padding: 0.5rem 0.5rem;
   margin: 0.5rem;
   background-color: var(--lightgray);
   border-radius: 0.5rem;
   font-weight: 600;
  
}

.contact-button:hover {
   color: var(--white);
}

.page-button {
   color: var(--white);
}

.page-button:hover {
   color: var(--red);
}

.about-container {
   margin: 3rem auto;
   max-width: 1200px;
   width: min(90%, 1200px);
}

.aboutGrid-container {
   display: grid;
   grid-template-columns: 1fr;
   gap: 2rem;
   min-height: 100vh;
   margin: 6rem auto;
}

.aboutGrid-container:nth-child(even) {
   background-color: rgba(225, 223, 223, 0.16);
}

.aboutpic-container {
   display: flex;
   justify-content: center;
   align-items: center;
   order: 1; 
}

.aboutpic-container img {
   height: auto;
   border-radius: 2rem;
   box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
   max-width: 90%;
}

.aboutarticle-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: center;
   padding: 1rem;
   order: 2;
   min-height: 100vh;
}

.aboutarticle-container h2 {
   text-align: center;
   font-size: 30px;
   margin-top: 4rem;
   padding-bottom: 1rem;
}

.aboutarticle-container li {
   margin-bottom: 0.5rem;
}
.aboutarticle-container p {
   line-height: 1.6;
   text-align: justify;
   max-width: 800px;
   margin-bottom: 0.5rem;
}

   
.aboutarticle-container ul {
   text-align: left;
   width: 100%; 
   list-style-position: inside;
}

/* ---------------------------------------------------------------------------------------------------------- */

/*TATTOOS BY LES*/

.tattoos-container {
   margin: 3rem auto;
   max-width: 1200px;
   width: min(90%, 1200px);
   min-height: 100vh;
}

#black_gray {
   background-image: url(pictures/blackandgray.jpg);
   background-position: center;
   background-size: cover;
}
#color_watercolor {
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(pictures/colourwatercolour.jpg);
   background-position: center;
   background-size: cover;
}
#coverup {
   background-image: url(pictures/coverupp.jpg);
   background-position: center;
   background-size: cover;
}
#eye_of_tiger {
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(pictures/eyeoftiger.jpg);
   background-position: center;
   background-size: cover;
}
#geometric_mandala {
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(pictures/dotartmandala.jpg);
   background-position: center;
   background-size: cover;
}

#memorial {
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(pictures/memoriald.jpg);
   background-position: center;
   background-size: cover;
}
#polynesian_tribal {
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(pictures/PolynesianTribal.jpg);
   background-position: center;
   background-size: cover;
}
#realistic {
   background-image: url(pictures/reealistic.jpg);
   background-position: center;
   background-size: cover;
}
#sleeve {
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(pictures/sleevee.jpg);
   background-position: center;
   background-size: cover;
}
#trash_polka {
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(pictures/tra.jpg);
   background-position: center;
   background-size: cover;
}
#japan {
   background-image: url(pictures/japanes.jpg);
   background-position: center;
   background-size: cover;
}
.colorc:hover {
color: var(--red);
}

.tatto-grid-container {
   display: grid;
   justify-items: center;
   grid-template-columns: 1fr;
   gap: 2rem;
   flex-grow: 1;
   background-color: var(--lightgray);
   padding: 2rem;
}

.tatto-grid-container ul {
   list-style: none;
   padding: 0;
   margin: 0;
   display: contents;
}

.tatto-grid-container li {
   height: 100px;
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
   max-width: 400px;
   width: 90%;
   text-align: center;
}


a.colorc {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: var(--white);
   font-size: 32px;
}

/* ----------------------------------------------------------------------------------- */


/*LASER TREATMENTS*/

.hero {
   min-height: calc(100vh - 60px);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-content: space-between;
   text-align: center;
   background-image:linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url('/pictures/tattooremoval.webp');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   color: var(--white);
   padding: 10% 0;
}

.hero p {
   font-size: 30px;
   font-weight: 700;
   line-height: 1.3;
}
   .laser-container {
      margin: 3rem auto;
      max-width: 1200px;
      width: min(90%, 1200px);
   }

   
   .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      min-height: 100vh;
   }

   .section-0 {
      min-height: 100vh;
   }

   .grid-container:nth-child(odd) {
      background-color: var(--lightgray);
   }

   .article-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      padding: 1rem;
      order: 2;
   }

   .article-container h3 {
      text-align: center;
      font-size: 24px;
      margin-top: 2rem;
   }

   .article-container li {
      margin-bottom: 0.5rem;
   }
   .article-container p {
      line-height: 1.6;
      text-align: justify;
      max-width: 800px;
      margin-bottom: 0.5rem;
   }

   .benefits li {
      list-style-type: none;
      margin-bottom: 0.5rem;
   }
   .article-container ul {
      text-align: left;
      width: 100%; 
      list-style-position: inside;
   }
  
   .pic-container {
   display: flex;
   justify-content: center;
   align-items: center;
   order: 1;
   }

   .pic-container img {
   height: auto;
   border-radius: 2rem;
   box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
   max-width: 90%;
   margin: 1rem;
   }

/* ------------------------------------------------------------------------------------------------    */

/*CONTACT*/

.contact-container {
   margin: 3rem auto;
   max-width: 1200px;
   width: min(90%, 1200px);
   min-height: calc(100vh - 60px);
   background-color: var(--lightgray);
}
.contact-grid-container {
   display: grid;
   grid-template-columns: 1fr;
   gap: 2rem;
   flex-grow: 1; 
   overflow: auto;
   justify-content: center;
   align-items: center;
}

.first-column {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   margin: 1rem; 
   text-align: center;
}

.first-column address, a, p {
   font-size: 24px;
}

.privacy {
   text-decoration: none;
   color: var(--black);
   cursor: pointer;;
}

.privacy:hover {
   text-decoration: underline;
}

.open-times {
   display: flex;
   flex-direction: column;
   align-content: space-around;
}
.open-times li {
   list-style: none;;
}

.contact-map {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

table {
   border-spacing: 0.5rem;
}
table td {
   font-size: 24px;
}

.open-hours-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.open-hours-container h2 {
   margin-bottom: 1rem;
   font-size: 30px;
}


iframe {
   max-width: 100%;
   height: auto;
 }
 
.contact-picture-container {
   grid-column: 1fr;
   text-align: center;
   
}

.contact-picture-container img {
   max-width: 100%;
}

/* ----------------------------------------------------------------------------------- */

/* TATTOO PICTURES PAGES*/

.tattoo-picture-container {
   margin: 3rem auto;
   max-width: 1200px;
   width: min(90%, 1200px);
   min-height: calc(100vh - 60px);
   background-color: var(--lightgray);
 
}

.tattoo-picture-grid_container {
   display: grid;
   grid-template-columns: 1fr;
   gap: 2rem;
   flex-grow: 1; 
   overflow: auto;
   padding: 2rem;
}

.small-image {
   width: auto;
   height: 10rem;
}

.image {
   display: flex;
   justify-content: center;
}
.image img {
   max-width: 100%;
   box-shadow: 0 10px 32px rgba(0, 0, 0, 0.657);
   border-radius: 0.2rem;
   cursor: pointer;
}

 .image img:hover {
   transform: scale(1.05);
 }

 .lightbox {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.8);
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .lightbox img {
   max-width: 90%;
   max-height: 80%;
 }
 .close {
   position: absolute;
   top: 20px;
   right: 30px;
   font-size: 30px;
   color: var(--white);
   cursor: pointer;
 }
 .nav-btn {
   position: absolute;
   top: 50%;
   background: none;
   border: none;
   font-size: 40px;
   color: var(--white);
   cursor: pointer;
 }
 #prev { left: 20px; }
 #next { right: 20px; }

/* ------------------------------------------------------------------------------------*/


/*VIDEOS*/

.video-container {
   margin: 3rem auto;
   max-width: 1200px;
   width: min(90%, 1200px);
}

.video-grid-container {
   display: grid;
   grid-template-columns: 1fr;
   min-height: 100vh;
   justify-items: center;
   background-color: var(--lightgray);
   gap: 3rem;
   padding: 2rem;
}

video {
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
   margin: 0;
   padding: 0;
   width: auto;
   max-height: 100%;
}

/* ------------------------------------------------------------------------------------ */

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {

   .nav a {
    padding: 0.6rem;
   }
   

}

@media only screen and (min-width: 601px) {

/* Home */
.heroIndex p, blockquote {
   font-size: 36px;
}

/* about us  */
   .hero-content h2 {
      font-size: 52px;
   }
   
   .hero-content p {
      font-size: 24px;
   }
   
   .about-pagemenu a {
      font-size: 24px;
   }

   /* Tattoo Picture Pages */

   .tattoo-picture-grid_container {
      grid-template-columns: repeat(2, 1fr);
   }

}
  

@media only screen and (min-width: 768px) {
   
   /* home */

   .heroIndex p, blockquote {
      font-size: 44px;
   }


   /* about us */

   .hero-content h2 {
      font-size: 44px;
   }
   
   .hero-content p {
      font-size: 24px;
   }
   
   .about-pagemenu a {
      font-size: 24px;
   }

   /* video */
.video-grid-container {
   grid-template-columns: repeat(2, 1fr);
}
  
}
@media only screen and (min-width: 992px) {

 .navbar {
   display: flex;
   justify-content: space-around;
   position: fixed;
   top: 0;
   right: 0;
   align-items: flex-end;
   background-color: var(--black); 
   width: 100%;
   z-index: 99;
}

:root {
   --navbar-height: 60px;
}

.navbar ul {
       display: flex;
}
   
.navbar li {
       display: flex;
       flex-direction: row;
       margin-right: 0rem;
       margin-left: 0rem;
       margin-right: 1rem;
       margin-left: 1rem;
}
   
.menu-toggle {
       display: none;
} 

.navbar a:hover {
   color:  var(--red);
}


/* About Us */
.aboutGrid-container {
   grid-template-columns: 1fr 1fr;
}

.hero-content h2 {
   font-size: 52px;
}

.hero-content p {
   font-size: 30px;
}

.about-pagemenu a {
   font-size: 24px;
}


/* Laser treatment */

.grid-container {
   grid-template-columns: 1fr 1fr;
}

.hero {
   padding: 0;
   justify-content: space-evenly;
}

.hero-grid-container {
   grid-template-columns: 1fr 1fr;
}

.heroIndex {
   background-position: center;
}

.heroIndex #typing {
   position: relative;
}

.heroIndex blockquote {
   position: relative;
}

.article-container, .pic-container {
   order: 0;
}

/*tattoo style*/

.tatto-grid-container {
   grid-template-columns: 1fr 1fr;
}

/* contact  */
.contact-picture-container {
   grid-column: span 3;
}

.contact-picture-container img {
   max-width: 50%;
}

/* Tattoo Picture Pages */

.tattoo-picture-grid_container {
   grid-template-columns: repeat(3, 1fr);
}

}

@media only screen and (min-width: 1200px) {

/* FOOTERS */

.footer-icons, .copyright p{
   flex-direction: row;
   justify-content: center;
}
 
/* video */
.video-grid-container {
      grid-template-columns: repeat(3, 1fr);
}

}

@media only screen and (min-width: 1400px) {


/* home */

.heroIndex p, blockquote {
   font-size: 52px;
}


 /* contact */
 .contact-grid-container {
   grid-template-columns: repeat(3, 1fr);
 }

 /* about us */
 .hero-content h2 {
   font-size: 62px;
}

.hero-content p {
   font-size: 36px;
}

.about-pagemenu a {
   font-size: 30px;
}

}
