:root {
    --grey:  rgb(228, 228, 224);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:Arial, Helvetica, 'sans-s';
   font-size: xx-large;
}


/*nav*/
.nav {
  display: flex;
  justify-content: center;
  background-color: black;
  position: sticky;
  top: 0;
}
.nav li {
    text-align: center;
}
.nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;
}
.nav a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Yellowtail', 'cursive';
    font-size: xx-large;
    padding: 0;
}
.nav a:hover {
    color: red;
}

/*index menu*/
#indexcontainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-content: space-evenly;
   height: 100vh;
}
#indexcontainer li {
   padding: 0.5rem;
   list-style-type: none;
}
#indexcontainer a {
   text-decoration: none;
   color: white;
   font-family: 'Yellowtail', 'cursive';
   font-size: x-large;
}
#indexcontainer a:hover{
   color: red;
}
/*about*/

.profilkep {
   display: flex;
   padding: 2rem;
   background-image: url();
   background-repeat: no-repeat;
   background-size: cover;
   justify-content: space-between;
}

figure {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
figcaption {
   display: flex;
   justify-content:center;
   color: red;
   font-family: 'Yellowtail', 'cursive';
}
.profp {
   width: 20rem;
   border: 1px solid black;
   border-radius: 2rem;
   box-shadow: 0.2rem 0.2rem 0.3rem black;
   
}

.div1 {
   display: flex;
   width: 40rem;
   flex-direction: column;
   border: 1px solid black;
   border-radius: 3rem;
   padding: 1rem;
   box-shadow: 0.1rem 0.2rem 0.4rem black;
   color: white;
   background-color: black;
   /* opacity: 0.7;
   filter: brightness(140%); */
   margin: 2rem;
}

/*tattoo style*/

#bgbg {
   background: url(pictures/blackandgray.jpg);
   background-position: center;
   background-size: cover;
}
#cwbg {
   background: url(pictures/colourwatercolour.jpg);
   background-position: center;
   background-size: cover;
}
#cubg {
   background: url(pictures/coverupp.jpg);
   background-position: center;
   background-size: cover;
}
#eot {
   background: url(pictures/eyeoftiger.jpg);
   background-position: center;
   background-size: cover;
}
#gma {
   background: url(pictures/dotartmandala.jpg);
   background-position: center;
   background-size: cover;
}

#memo {
   background: url(pictures/memoriald.jpg);
   background-position: center;
   background-size: cover;
}
#potrib {
   background: url(pictures/PolynesianTribal.jpg);
   background-position: center;
   background-size: cover;
}
#rea {
   background: url(pictures/reealistic.jpg);
   background-position: center;
   background-size: cover;
}
#slee {
   background: url(pictures/sleevee.jpg);
   background-position: center;
   background-size: cover;
}
#tra {
   background: url(pictures/tra.jpg);
   background-position: center;
   background-size: cover;
}
.colorc:hover {
color: red;
}
.style1 {
   background-image: url(pictures/bggtattos.jpg);
   background-position: center;
   background-size: cover;
}
.style1 ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.style1 li {
   list-style: none;
   box-shadow: 1rem 1rem 1rem black;
   padding: 1rem;
   margin: 2rem;
   width: 30rem;
   height: 10rem;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.style1 a {
   text-decoration: none;
   color: white;
   font-size: xx-large;
}

/*Booking*/
.booking0 {
   background-image: url(pictures/whitebrick1.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.booking0 p {
   background-image: url(pictures/brick.jpg);
   color: black;
}  

h1, h2 {
display: flex;
justify-content: center;
background-color: black;
color: red;
font-family: 'Yellowtail', 'cursive';
box-shadow: 0 0.1rem 0.1rem red;
text-shadow: 0.1rem 0.1rem 0.2rem grey;
font-size: x-large;
}

.booking2 {
display: flex;
padding: 1rem;
justify-content: space-between;
align-items: center;
margin: 2rem;
margin-bottom: 0;
}
.booking2 p {
   width: 25rem;
   border: 0.1rem solid black;
   padding: 2rem;
   border-radius: 40rem;
   text-align: center;
   box-shadow: 0.1rem 0.1rem 0.3rem black;
   margin: 2rem;
}
.booking2 img {
   width: 20rem;
   box-shadow: 0 3px 10px black;
}
#pandbutton {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.lastbutton {
    display: flex;
}
.lastbutton button {
    text-align: center;
    margin: 1rem;
    padding: 0.2rem;
    box-shadow: 0 0.1rem 0.2rem black;
    appearance: none;
    background-color: whitesmoke;
    color: black;
}
.lastbutton button:hover {
    background-color: black;
    color: white;
}
#pandbutton button {
margin-top: 1rem;
}
.required-field::before {
   content: '*';
   color: red;
   margin-right: 0.2rem;
}
.form form {
   display: none;
}
.hidden form {
   display: flex;
   flex-direction: column;  
}

.form button {
   width: 25%;
}

.picture {
   display: flex;
   margin: 2rem;
}
.picture2 {
   display: none;
}

.showe {
   cursor: pointer;
   padding: 0.5rem;
   border-radius: 10rem;
   background-color: white;
   color: black;
   box-shadow: 0 0.1rem 0.1rem black;
   margin-bottom: 2rem;
}
.showe1 {
   display: none;
}
.showe:hover {
   color: white;
   background-color: black;
}

.forms {
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
   padding: 0.5rem;
}



/*Contact*/
.maps {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 2rem;
   background-color: var(--grey);
}
.maps iframe {
   width: 25rem;
   
}
.cont {
   display: flex;
   align-items: center;
}
.cont img {
    margin: 1rem;
}
label {
   max-width: 20rem;
   display: inline-block;
}
.info {
   background-color: var(--grey);
   display: flex;
   flex-direction: column;
   padding: 2rem;
}
.info p {
   font-size: small;
   width: 25rem;
}
/*pictures pages*/

.image {
   box-shadow: 1rem 1rem 1rem black;
}
.images {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 2rem;
   margin: 2rem;
   padding: 2rem;
}
.lightbox {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1;
   margin-top: 1rem;
}

.lightbox-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 80%;
   max-height: 80%;
   
}

.close {
   position: absolute;
   top: 4rem;
   right: 2rem;
   font-size: 30px;
   cursor: pointer;
   color: white;
   
}
.image img {
   max-width: 100%;
   box-shadow: 0.8rem 0.8rem 1rem var(--shadow);
   border: 0.2rem solid white;
   cursor: pointer;
}
.lightbox-content img {
   width: 100%;
   height: auto;
}
.small-image {
   width: auto;
   height: 10rem;
}
#butend {
   display: flex;
   justify-content: center;
   justify-content: space-around;
}

#butend a {
   text-decoration: none;
   color: black;
   border: solid black;
   margin: 1rem;
   padding: 0.2rem;
   width: 10rem;
   background-color: white;
   text-align: center;
   border-radius: 1rem 1rem;
}

#gm {
   background: url(pictures/red-brick-bg.jpg);
}
#ibg {
   background-image: url(pictures/machine.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   
}

@media only screen and (max-width: 600px) {
   *{
       font-size: x-small;
   }
   .maps {
       flex-direction: column;
   }
   .booking2 {
       flex-direction: column;
       
   }
   .booking2 p {
       border-radius: 10rem;
   }
   .profilkep {
       flex-direction: column;
       align-items: center;    
   }
   .cont a, p, address {
       font-size: large;
   }
   .nav a {
    padding: 0.6rem;
   }
   .nav a {
        font-size: x-large;
    }
   .div1 {
       width: 90%;
   }

   .form label {
       font-size: medium;
   }
   .form a {
       font-size: medium;
   }
   .form button {
       font-size: medium;
   }
   .showe {
       padding: 1rem;
       font-size: medium;
       margin: 1rem;
   }
  
   
   
}
@media only screen and (min-width: 600px) {
   * {
      font-size: medium;
      
   }
   .nav a {
    padding: 1rem;
   }
   .profilkep {
       flex-direction: column;
       align-items: center;    
   }
   
   .maps {
       flex-direction: column;
   }
   .booking2 {
       flex-direction: column;
   }

  
}
@media only screen and (min-width: 768px) {
   * {
       font-size: large;
   }
   .maps {
       flex-direction: column;
   }
   .booking2 {
       flex-direction: column;
   }
   
   .profilkep {
       flex-direction: row;
   }
   .style1 li {
      height: 8rem;
   }
  
}
@media only screen and (min-width: 992px) {
 * {
   font-size: large;
 }
.maps {
   flex-direction: row;
}
.booking2 {
   flex-direction: row;
}
.profilkep {
   flex-direction: row;
 }
.form {
   background-color: white;
   color: black;
}
.booking0 {
   background-image: url(pictures/memo.jpg);
   background-size: contain;
}


}
@media only screen and (min-width: 1200px) {
   * {
       font-size: x-large;
   }
  
   
}

